$font-family: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-weight-base:300;
// sidebsar width
$expanded-sidebar-width:120px;
//user profile card width
$font-weights:("light": 300, "regular": 400, "medium": 700, "bold": 900);
// progress
$progress-height:8rem;
$progress-bg:$secondary-color;