header {
    .menu-label {
        margin-left: 20px;
    }

    .header-form {
        input:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
        input{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
        }
        button{
            border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; 
        }
    }
    

}
